################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/POS.Backend/POS.Backend/obj
/POS.Backend/.vs/POS.Backend/v17
/POS.Backend/POS.Backend/POS.Backend/bin/Debug/net8.0
/POS.Backend/POS.Backend/.vs
